/*==============================
=            Resets            =
==============================*/

body {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-weight: 400;
	min-height: 100%;
}
h1, h2, h3, h4, h5 {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-weight: 700;
}
.button {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-weight: 400;
}

.large-centered {
	text-align: center;
	margin: 0 auto;
}

/*=========================================
=            Language Selector            =
=========================================*/

.lang__topper {
	padding-bottom: 0em;
	height: 2em;
	display: table;
	background: #343A3C;
	width: 100%;
}
.lang__topper__inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: .75em;
	text-transform: uppercase;
}
.lang__topper__inner span {
	color: #f1f1f1;
	margin-right: .5em;
}
.lang__topper__inner a {
	margin-left: .5em;
}




/*==============================
=            Navbar            =
==============================*/

.contain-to-grid {
	background-color: #3FC5EF;

}

nav.top-bar,
#right-nav,
#right-nav ul.right li a {
	background-color: #3FC5EF;
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-weight: 400;
}

nav.top-bar.expanded {
	background-color: #3FC5EF;
}

li.name a img {
	max-height: 30px;
	position: relative;
	bottom: 3px;
}



/*=====================================
=            Homepage Hero            =
=====================================*/

.hero__container {
	background: url('../img/hero-nobg-640px.png') no-repeat center center,
	RGB(71, 200, 243);
	height: 560px;
	width: 100%;
	/*background-size: cover;*/
	margin: 0 auto 4em;
	padding: 2em 0 2em 0;
}
@media screen and (max-width: 600px) {
	.hero__container {
		background: url('../img/hero-nobg-640px.png') no-repeat center center.
		RGB(71, 200, 243);
		background-size: 90%;
	}
}
@media screen and (max-width: 599px) and (min-width: 481px) {
	.hero__container {
		background: url('../img/hero-nobg-640px.png') no-repeat center center.
		RGB(71, 200, 243);
		background-size: 90%;
		height: 440px;
	}
}
@media screen and (max-width: 480px) {
	.hero__container {
		background: url('../img/hero-nobg-640px.png') no-repeat center center.
		RGB(71, 200, 243);
		background-size: 90%;
		height: 320px;
	}
}
@media screen and (max-width: 320px) {
	.hero__container {
		background: url('../img/hero-nobg-640px.png') no-repeat center center.
		RGB(71, 200, 243);
		background-size: 90%;
		height: 240px;
	}
}


/*=================================
=            Main Body            =
=================================*/

.main__body__container p.subhead {
	font-size: 1.25em;			

}


/*=======================================
=            Sponsors Footer            =
=======================================*/
.sponsors__footer {
	/*background: #DAF4FC*/;
	width: 100%;
	padding: 3em 0;
	text-align: center;
	margin-top: 3em;
}
	.sponsors__footer .row:first-child {
		padding-bottom: 2em;
	}
.sponsors__footer .sponsors__logos {
	display: table;
	position: relative;
}
.sponsors__footer .sponsors__logos .columns img {
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
.sponsors__footer .sponsors__logos .columns {
	margin-bottom: 3em;
}
/*==============================
=            Footer            =
==============================*/
.footer {
	margin: 2em auto;
	position: relative;
	bottom: 0;
	left: 0;
}
.footer ul li {
	list-style: none;
	display: inline;
}
.footer .large-8 span a {
	margin-left: 8px;
}
.footer .large-8 {
	text-align: right;
}
@media screen and (max-width: 768px) {
	.footer .large-8,
	.footer .large-4 {
		text-align: center;
	}
	.footer .large-8 a {
		display: block;
	}
}


/*========================================
=            Homepage - Route            =
========================================*/
.homepage__route {
	width: 100%;
	background:
		linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url('../img/map-bg-white-large.png')no-repeat center center;
	
	height: 440px;
	background-size: cover;
	position: relative;
	text-align: center;
	margin-top: 4em;
}
.homepage__route .row {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.homepage__route .row .large-12 h3 {
	color: #f1f1f1; 
	text-align: center;
	margin-bottom: 1em;
}
.homepage__route .row .large-12 .button::after {
	content: '\f054';
	font-family: 'FontAwesome';
	font-size: 14px;
	top: 2px;
	position: relative;
	margin-left: 8px;

}

/*============================================
=            Basic Subpage Styles            =
============================================*/
.page__title {
	margin-top: 1em;
}








